<div class="nav">
    <h1>CMSC389k's Blog</h1>
    <div class="tags">
        {{#if tags}}
            {{#each tags}}
                <a href = "/tag/{{this}}" class="tag">{{this}}</a>
            {{/each}}
        {{/if}}
    </div>
</div>
<br>
<hr>
